:root{
      --vermelho: #E50914;
      --preto: #141414;
      --branco: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* não deixar os elementos se expandirem*/
    text-decoration: none;
}

/*elementos base*/

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
}

header .container{
    display: flex;
    flex-direction: row; /*alinhou na linha*/
    align-items: center;
    justify-content: space-between; /* espaçamento entre elementos do container*/

    margin-right: 330px;
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black'; 
    font-size: 40px;
}

header nav a{
    text-decoration: none; /*tira a linha do link*/
    color: #AAA;
    margin-right: 10px; /*dá o espaçamento nos links*/
}

header nav a:hover{
    color: #FFF;
}

/*filme principal*/
.filme-principal{
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/capa-flash.jpg") ;
    font-size: 16px;

    height: 700px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*começa sempre da esquerda */
}

.filme-principal .descricao{
    margin-bottom: 60px;
    margin-top: 10px;
}

.filme-principal .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

}

.botao a{
    color: var(--branco);
}

.botao:hover{
    background-color: red;
    color: var(--preto);
}

.botao i{
    margin-right: 5px;
}

/* carousel olw*/

.box-filme{
    height: 25;
    width: 25%;
    display: block;
}

.carousel-filmes{
    margin-top: -40px;
}

/*mais_informações*/

.fundo-principal{
    background-image: url('../img/capafundo2.jpg');
    height: 600px;

    background-size: cover; /*se enquadra*/
}

.wrapper{
    font-size: 20px;
    color: var(--branco);
}

.informacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.titulo-informacoes{
    margin-top: 650px;
    
}

.elenco{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    
    margin-left: 25%;
    margin-top: 30px;

}

.titulo-informacoes{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descricao-informacoes{
    width: 60%;
    margin-top: 20px;
}
.titulo-des{
    text-align: center;
}

.titulo-des{
    font-size: 30px;
}

.botao2{
    margin-top: 50px;
    margin-left: 45%;

    width: 175px;
    padding: 7px;

    cursor: pointer;
    transition: .3s ease all;

}


